body{
    background-image: url(../images/background.jpg);
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    display: flex;
}

h2{
    text-align: center;
    font-family: sans-serif;
}

.dots{
    display: flex;
    align-items: center;
    margin-left: 130px;
    margin-top: 19px;
    gap: 10px;
}

.dot-a{
    height: 6px;
    width: 6px;
    background-color: gray;
    border-radius: 50%;
    align-items: center;
}

.dot-b{
    height: 6px;
    width: 6px;
    background: grey;
    border-radius: 50%;
    align-items: center;
}

.dot-c{
    height: 6px;
    width: 6px;
    background: grey;
    border-radius: 50%;
    align-items: center;
}

.both{
    margin-left: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    color: rgba(58, 57, 57, 0.671);
}

.master{
    margin-left: 20px;
    font-family: sans-serif;
    font-weight:bold;
}

.check img{
    width: 25px;
    height: 25px;
    margin-left: 75px;
    
}

.first{
    display: flex;
    align-items: center;
}

.second{
    display: flex;
    align-items: center;
}
.third{
    display: flex;
    align-items: center;
}

.main{
    background-color: white;
    border-radius: 5px;
    width: 320px;
    height: 320px;
    cursor: pointer;
}


img{
    width: 45px;
    height: 45px;
    margin-left: 20px;
}

.down{
    background-color:#4178ca;
    font-size: 20px;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    padding: 15px;
    border-bottom: 15px;
    display: flex;
    align-items: center;

}


#footer{
    width: 20px;
    height: 20px;
    margin: 5px;
}
